@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ForgotUserName";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotUserName</title>
    <link rel="stylesheet" href="../../Content/TropicalStyles/Login.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="main">
            <div id="container">
                <form id="BodyDetail" action="GetUserName" method="post">
                    <label class="headerLabel">Mobile Customer Order Tracking</label><br>
                    <div id="loginBox">
                        <div class="login_row">
                            <p id="useridlbl">Please enter the email address associate to your account</p>
                            <label id="useridlbl">Email:</label>
                            <input type="text" id="useridtextbox" name="email" required /><br>
                            <button id="LoginBtn_1" type="submit" style="margin-left: 280px; margin-top: 30px;">Submit</button>
                        </div>
                    </div>
                    <p class="error">@ViewBag.Error</p>
                    <p class="username">@ViewBag.userName</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
